@model PortfolioAnalyzer.Models.ViewModels.WatchlistEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Watchlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Watchlist.Id" />
            <div class="form-group">
                <label asp-for="Watchlist.Name" class="control-label"></label>
                <input asp-for="Watchlist.Name" class="form-control" />
                <span asp-validation-for="Watchlist.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watchlist.Description" class="control-label"></label>
                <input asp-for="Watchlist.Description" class="form-control" />
                <span asp-validation-for="Watchlist.Description" class="text-danger"></span>
            </div>

            <h4>Edit Securities</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ticker</th>
                    </tr>
                </thead>
                <tbody class="inputTableBody">
                    @for (int i = 0; i < Model.WatchlistSecurities.Count(); i++)
                    {
                        if (Model.WatchlistSecurities[i].HasSecurity)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@Model.WatchlistSecurities[i].Security.Ticker" class="form-control" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary addSecurityButton">Add Security</button>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="link-button">
        <input type="button" class="btn btn-secondary" value="Back to List" />
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    const inputTable = document.querySelector(".inputTableBody");
    const addButton = document.querySelector(".addSecurityButton");

    addButton.addEventListener("click", event => {
        event.preventDefault();
        addSecurity();
    })

    function addSecurity() {
        const i = inputTable.childElementCount;

        if (i < 10) {
            const newInputRow = document.createElement("tr");
            newInputRow.innerHTML = 
                `<td>
                    <input class="form-control" type="text" id="WatchlistSecurities_${i}__Security_Ticker" name="WatchlistSecurities[${i}].Security.Ticker" value="" />
                 </td>`

            inputTable.appendChild(newInputRow);
        }
    }
</script>

@*<script>
    const inputTable = document.querySelector(".inputTableBody");
    const addButton = document.querySelector(".addSecurityButton");

    addButton.addEventListener("click", event => {
        event.preventDefault();
        const i = inputTable.childElementCount;

        if (i < 9) {
            const newInputRow = document.createElement("tr")
            newInputRow.innerHTML =
                `<td>
                    <input class="form-control" type="text" id="PortfolioSecurities_${i}__Security_Ticker" name="PortfolioSecurities[${i}].Security.Ticker" value="" />
                 </td>
                 <td>
                    <input class="form-control" type="number" id="PortfolioSecurities_${i}__Weight" name="PortfolioSecurities[${i}].Weight" value="" />
                 </td>
                 <td>
                    <select class="form-control" id="PortfolioSecurities_${i}__AssetClassId" name="PortfolioSecurities[${i}].AssetClassId">
                        <option value="1">Equities</option>
                        <option value="2">Fixed Income</option>
                        <option value="3">Commodities</option>
                        <option value="4">Precious Metals</option>
                        <option value="5">Real Estate</option>
                        <option value="6">Alternatives</option>
                        <option value="7">Cash</option>
                    </select>
                 </td>`

            inputTable.appendChild(newInputRow);
        }

    })

</script>*@

